body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

body, html {
    height: 100%;
    margin: 0;
}
.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    max-width: 100px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-button:last-child {
    margin-bottom: 40px; /* Adds additional space below the last button */
}

.social-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #0056b3;
}

.hours-section {
    background-color: #007bff; 
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hours-section h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.hours-section p {
    margin: 0;
    font-size: 18px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2; /* Example background color */
    padding: 10px 0; /* Adds some padding around the text */
}
